terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/terraform.tfvars
terraform/.terraform.lock.hcl

.env
*.pem

__pycache__/
**/__pycache__/
*.pyc
.pytest_cache/
**/.pytest_cache/
.venv/
venv/

*.parquet
logs/
*.log
